.circular-gallery-wrapper{
  perspective:1000px;
}

.circular-gallery{
  width: 100%;
  height: 100vh; /* occupe toute la hauteur */
  transition: transform 0.3s linear;
}

.circular-item img{
  transition:transform 0.3s ease;
}

.circular-item:hover img{
  transform:scale(1.1);
} 